.about {

	header {
		background: $dark $about-header no-repeat right center;
		background-size: cover;
		
		h2 {
			color: $light;
		}
	}

	.intro {
		background: $green;
		color: $light;
	}

	.details {
		background: $light;

		h3 {
			margin-bottom: 0;
		}
	
		@include breakpoint(phone) {
			img {
				display: block;
				margin: 0 auto;
			}
		}
	}
}