.home {
	header {
		-webkit-transform: translateZ(0);
		// http://compass-style.org/reference/compass/css3/images/
 		@include background(
        	linear-gradient(top left, $dark-blue, $light-blue) no-repeat center center
        	);
		position: relative;
		background-color: lighten($dark-blue, 15%);
	}

 	.header-images {
		@include background(
	       	$solarpanel no-repeat bottom left,
	       	$cloud no-repeat center right
	       	);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-size: auto 80%;
		@include breakpoint(desktop) {
			background-size: auto 70%;
		}
		@include breakpoint(widescreen) {
			background-size: auto 80%;
		}

		.learn-more {
			@include rem('margin-top', $base * 3);
		}
	}

	.intro {
		clear: both;
		width: 100%;
		background: $white $bg-grid repeat-x center center;
		background-size: contain;

		.span2-1 {
			@include rem('margin-top', $base * 2);
		}

		h4 {
			border-bottom-color: $light;
		}
	}

	.services {
		background: $light;
	}

	// breakpoint
	@include breakpoint(laptop) { 
	  	.header-images {
			background-size: auto 60%;
	  	}
	}

	@include breakpoint(wrapper) { 
	  	header {
	  		height: $base * 25;

	  		.learn-more {
	  			margin-top: 0 !important;
	  		}
		  	
		  	h2 {
				padding: 0 9%;
		  	}

		  	h3 {
				padding: 0 20%;
		  	}
	  	}	
	}

	@include breakpoint(mini) { 
	  	.header-images {
			@include background(
		       	$cloud no-repeat center right
		       	);
	  	}
	}

	@include breakpoint(phone) { 

	  	header {
	  		h2 , h3 {
				@include rem('padding', 0 $base);
	  		}	
	  	}
	
		.intro {
			padding-top: 0;
		}

		.service-teaser {
			@include rem('padding', $base $base 0);
			@include rem('margin-top', $base);
			background: $dark;
			color: $light;				
			
			br {
				display: none;
			}
		}

		.service-teaser:first-child {
			margin-top: 0;
		}
	}

	@include breakpoint(desktop) {
		header .header-images {
			h2 {
				@include rem('margin-top', $base * 2);
			}

	  		.learn-more {
				width: $base * 8;
				@include rem('margin-top', $base * 2);
	  		}
	  	}
	}

}

