.projects body {
	background: $light $project-bg no-repeat center top;
	background-size: 100% auto;
	background-attachment: local;

	@include breakpoint(phone) { 
		background-size: 130% auto;
	}

	section {
		padding-top: 0;
	}

	article {
		@include rem('margin-bottom', $base * 4);

		p:last-child {
			margin-bottom: 0;
		}
	
		.text-box {
			@include rem('padding', $base);
			background: $dark;
			color: $light;
		}

		img {
			width: 100%;
		}
	}
	.bubble {
		width: 60%;
		min-width: 276px;
		margin: 0 auto;
		@include breakpoint(desktop) {
			width: 80%;
		}
	}
	@include breakpoint(phone) { 
		background-size: 130% auto;


		article {
			@include rem('margin-bottom', $base);
		}
	}

	@include breakpoint (desktop) {
		.wrapper {
			-webkit-column-count: 2;
			-webkit-column-gap: $base;
			-moz-column-count: 2;
			-moz-column-gap: $base;
			-column-count: 2;
			-column-gap: $base;

			article {
				@include rem('margin-bottom', $base);
			}
		}		
	}
}