.projects body {
	background: $light $project-bg no-repeat center top;
	background-size: 100% auto;

	@include breakpoint(phone) { 
		background-size: 130% auto;
	}

	section {
		padding-top: 0;
	}

	article {
		@include rem('margin-bottom', $base * 4);

		p:last-child {
			margin-bottom: 0;
		}
	
		.text-box {
			@include rem('padding', $base);
			background: $dark;
			color: $light;
		}

		img {
			width: 100%;
		}
	}
	@include breakpoint(phone) { 
		background-size: 130% auto;


		article {
			@include rem('margin-bottom', $base);
		}
	}
}