.projects body {
	background: $light $project-bg no-repeat center top;
	background-size: 100% auto;

	header {
		height: $base * 16;
	}

	article {
		@include rem('margin-bottom', $base * 4);

		p:last-child {
			margin-bottom: 0;
		}
	
		.text-box {
			@include rem('padding', $base);
			background: $dark;
			color: $light;
		}

		img {
			width: 100%;
		}
	}
}