.services {

	header {
		background: transparent url('/images/services/services-scene.svg') no-repeat center bottom;
		position: relative;
		z-index: 100;

		@include breakpoint(netbook) { 
			background-size: 85%;
		}

		@include breakpoint(tablet) { 
			background-size: 100%;
		}

		@include breakpoint(phone) { 
			background-position: -10px bottom;
		}

		h2 {
			position: relative;
			z-index: 1000;
			color: $white;
		}
	}

	.turbine {
		position: relative;
		z-index: 10;

		.spin {
			position: absolute; 
			top: -390px;
			right: 15px;

			path {
				fill: #393a3e;
			}
		}

		.post {
			position: absolute; 
			top: -220px; 
			right: 169px;
			width: 14px;
			height: 220px;
			background: #393a3e;
		}

		@include breakpoint(phone) {
			.spin {
				top: -170px;
				right: 28px;
				width: 130px;
				height: 130px;
			}

			.post {
				top: -100px;
				right: 90px;
				width: 5px;
				height: 100px;
			}	
		}

		@include breakpoint(desktop) { 
			.spin {
				right: 54px;
			}

			.post {
				right: 207px;
			}	
		}

	}

	.intro {
		margin-top: -1px;
		background: $dark;

		.lead {
			color: $white;
		}
	}

	.services-list {
		background: $light;

		article {
			@include rem('margin-bottom', $base * 2);
			@include rem('padding-top', $base);
		}

		img {
			display: block;
			margin: 0 auto;
			width: 60%;
		}
		
		@include breakpoint(phone) {
			
			article {
				@include rem('padding', $base $base 0);
				position: relative;
				top: 10px;
				background-size: 100%;
				color: $white;
			}

			#assessment {
		 		@include background(
		        	linear-gradient(top left, rgba($green, 0.85), rgba($green, 0.85)) repeat center center,
		        	url(/images/services/assessment.svg) no-repeat center center,
		        	linear-gradient(top left, $green, $green) repeat center center
		        	);
			}

			#design {
		 		@include background(
		        	linear-gradient(top left, rgba($green, 0.85), rgba($green, 0.85)) repeat center center,
		        	url(/images/services/design.svg) no-repeat center center,
		        	linear-gradient(top left, $green, $green) repeat center center
		        	);
			}

			#surveillance {
		 		@include background(
		        	linear-gradient(top left, rgba($green, 0.85), rgba($green, 0.85)) repeat center center,
		        	url(/images/services/surveillance.svg) no-repeat center center,
		        	linear-gradient(top left, $green, $green) repeat center center
		        	);
			}

			#plans {
		 		@include background(
		        	linear-gradient(top left, rgba($green, 0.85), rgba($green, 0.85)) repeat center center,
		        	url(/images/services/plans.svg) no-repeat center center,
		        	linear-gradient(top left, $green, $green) repeat center center
		        	);
			}

			.span1-3,
			.span1-1 {
				display: none;
			}
			
		}

	}
}