$bubble-color: $dark;

.bubble {
	position: relative;
	padding: $base * 2 0;
	height: 276px;
	border-radius: 200px;
	background: $bubble-color;
	color: $white;
	text-align: center;
	@include breakpoint(desktop) {
		height: 344px;
	}

	h5 {
		@include rem('margin', ($base * 2) 0 0);
		color: $white;
		@include breakpoint(desktop) {
			@include rem('margin', ($base * 3) 0 0);
		}
	}

	h3 {
		margin-bottom: 0;
	}

	.btn {
		@include rem('margin', 11px auto 0);
		display: block;
		width: 116px;
		background: RGBA(255,255,255,0.75);
		position: relative; 
		z-index: 1000;
		@include breakpoint(desktop) {
			width: $base * 8;
			@include rem('margin-top', $base);
		}
	}

	.btn.large {
		width: 160px;
		@include breakpoint(desktop) {
			width: 210px;
		}
	}
}

.bubble.inverted {

	h5 {
		margin: 0;
	}

	h3 {
		@include rem('margin', ($base) 0 0);
	}
}

.bubble:after {
    position: absolute;
    top: 80%;
    right: 40px;
    border-width: 40px 0px 0px 100px;
    border-style: solid;
    border-color: $bubble-color transparent;
    content: "";
}
