// Core Layout Styles
* {
	@include box-sizing('border-box');
}

header, footer, section {
	clear: both;
	width: 100%;
}

section {
	@include rem('padding', ($base * 2) 0);
}

.wrapper {
	margin: 0 auto;
	max-width: 840px;
}


// Grid
.grid-golden {
	$grids: 1 .382 1;
	$gutters: 1/3;

	.span2-1 {
		@include grid-span(2, 1);
	}

	.span1-3 {
		@include grid-span(1, 3);
	}

	.span1-1 {
		@include grid-span(1, 1);
	}

	.span2-2 {
		@include grid-span(2, 2);
	}
}

.grid-12 {
	$grids: 12;
	$gutters: 2/3;

	.span3-1 {
		@include grid-span(3, 1);
	}
	.span3-4 {
		@include grid-span(3, 4);
	}
	.span3-7 {
		@include grid-span(3, 7);
	}
	.span3-10 {
		@include grid-span(3, 10);
	}

}

// 1 2 3	3-1  
// 4 5 6	3-4
// 7 8 9	3-7
// 10 11 12	3-10


@include breakpoint(wrapper) {
	section {
		@include rem('padding-left', $base);
		@include rem('padding-right', $base);
	}
}

@include breakpoint(mini) { 
	.grid-12 {
		$grids: 12;
		$gutters: 2/3;

		.span3-1 {
			@include grid-span(6, 1);
		}
		.span3-4 {
			@include grid-span(6, 7);
		}
		.span3-7 {
			@include grid-span(6, 1);
			clear: both;
		}
		.span3-10 {
			@include grid-span(6, 7);
		}
	}
}

@include breakpoint(phone) {
	$grids: 1;
	$gutters: 0;

	.grid-golden {
		.span2-1,
		.span1-3,
		.span1-1,
		.span2-2 {
			@include grid-span(1, 1);
		}
	}

	.grid-12 {
		.span3-1,
		.span3-4,
		.span3-7,
		.span3-10 {
			@include grid-span(1, 1);
		}
	}
}

