header {
	height: $base * 20;

	.logo {
		display: inline-block;
		float: left;

		img {
			@include rem('margin', 16px 0 0 31px);
			width: 231px;

			@include breakpoint(phone) {
				width: 200px;
				@include rem('margin', 11px);
			}
		}
	}

	li {
		@include rem('margin-top', $base);
	}


	h2, h3 {
		text-align: center;
	}

	h2 {
		@include rem('margin-top', $base * 2);
		@include breakpoint(phone) {
			margin-top: 0;
		}
	}

	.learn-more {
		position: relative;
		display: block;
		margin: 0 auto;
		width: 116px;
	}

	@include breakpoint(phone) {
		height: $base * 16 !important;
	}
}