nav {
	-webkit-transform: translateZ(0);

	.menu-button {
		display: none;
	}
	
	.menu {
		@include rem('margin', $base 0);
		display: block;
		float: right;

		li {
			@include rem('margin-right', $base * 2);
			display: inline-block;
			font-weight: 500;
			font-family: 'Maven Pro', sans-serif;
		}

		a {
			color: $dark;
			text-decoration: none;
		}

		a:hover {
			color: $white;
		}
	}

	@include breakpoint(nav) {

		.menu {
			display: none;
		}

		.menu-button {
			@include rem('margin', 31px ($base * 2) 0 0);
			display: block;
			float: right;
			width: 96px;
			font-weight: 500;
			font-family: 'Maven Pro', sans-serif;
		}
	}
}

.active {
	position: relative;
	z-index: 20000;
	opacity: 0.95;

	.menu-button {
		background: $dark;
		color: $white;
		border-radius: 25px 25px 0 0;
	}

	.menu {			
		@include rem('padding', $base $base 0);
		position: absolute;
		top: 54px;
		right: 42px;
		background: $dark;
	}

	.menu li {
		@include rem('margin', 0 0 $base);
		display: block;
		text-align: center;
		font-weight: 500;
		font-family: 'Maven Pro', sans-serif;
	}

	.menu  a {
		color: $white;
	}

	.menu  a:hover {
		color: $green;
		top: 0;
	}
}



