// modular scale: http://modularscale.com/scale/?px1=14&px2=&ra1=1.5&ra2=0
$base: 21px;

body {
	color: $dark;
}

body, p, h5, h6 {
	font-size: 14px;
	font-family: 'Istok Web', sans-serif;
	line-height: $base;
}

p, h3, h4, h5, h6 {
	margin: 0 0 $base;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Maven Pro', sans-serif;
}

h1, h2 {
	margin: 0;
	font-size: 47px;
	line-height: $base * 4;
}

h3, .lead {
	font-size: 32px;
	line-height: $base * 2;
}

h4 {
	font-size: $base;
	line-height: $base;
}

h5 {
	font-size: 14px;
}

a {
	color: $green;
}

a:hover {
	position: relative;
	top: -1px;
}

.lead {
	margin-bottom: 0;
}


// font loading
.wf-loading h1, h2, h3, h4, h5, h6, p, ul, li, a {
	//opacity: 0;
}