// modular scale: http://modularscale.com/scale/?px1=14&px2=&ra1=1.5&ra2=0
$base: 21px;
$border: 9px;

html {
	font-size: 62.5%;
}

body {
	color: $dark;
}

body, p, h4, h5, h6 {
	@include rem('font-size',14px);
	@include rem('line-height', $base);
	font-family: 'Istok Web', sans-serif;
}

p, h3, h4, h5, h6 {
	@include rem('margin', 0 0 $base);
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Maven Pro', sans-serif;
}

h1, h2 {
	@include rem('font-size',47px);
	@include rem('line-height', $base * 3);
	margin: 0;
}

h3 {
	@include rem('font-size',32px);
	@include rem('line-height', $base * 2);
}


h4, .border-bottom {
	@include rem('font-size', $base);
	padding-bottom: $base - $border;
	border-bottom: $border solid $white;
}

a {
	color: $green;
}

a:hover {
	position: relative;
	top: -1px;
}

.lead {
	@include rem('font-size', $base);
	@include rem('line-height', $base * 2);
	margin-bottom: 0;
}


//breakpoints
@include breakpoint(phone) { 
	html {
		font-size: 50%;
	}
}

