// colors
$dark: #393a3e;
$light: lighten($dark, 70%);
$white: #fff;
$green: #23a54d;
$light-blue: #9bc2e6;
$dark-blue: #294e87;

// baseline
$base: 21px;
$border: 9px;

// responsive resizing
$big-up-desktop: 1.1;